<div class="card-body">

    <form (ngSubmit)="saveNewPlant()">

        <div class="form-group"><label>Name
            <input
              type="text" class="form-control"
              [(ngModel)]="newPlant.name" name="name" required
            >
        </label></div>
    
        <div class="form-group"><label>Layer
            <select
              class="form-control"
              [(ngModel)]="newPlant.layer" name="layer" required>
                <option *ngFor="let layer of layerArr">{{ layer }}</option>
            </select>
        </label></div>
    
        <div class="form-group"><label>Periodicity
            <select
              class="form-control"
              [(ngModel)]="newPlant.periodicity" name="periodicity" required>
                <option *ngFor="let period of periodArr">{{ period }}</option>
            </select>
        </label></div>
    
        <br />
    
        <button class="btn btn-success" (submit)="saveNewPlant()">
            Save New Plant
        </button>
    
    </form>

</div>
