<ngb-accordion>

  <ngb-panel title="Update Plant List">
    <ng-template ngbPanelContent>
      <app-update-plants></app-update-plants>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Update Seed List">
    <ng-template ngbPanelContent>
      <app-update-seeds></app-update-seeds>
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Search Catalog">
    <ng-template ngbPanelContent>
      <app-search-seeds></app-search-seeds>
    </ng-template>
  </ngb-panel>
  
</ngb-accordion>
<router-outlet></router-outlet>